header {
    padding-top: 1cm;
    background-color:#FFFFFF;
    background-image: url('../img/wallpaper.jpeg');
    text-align: center;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
}
#titulo-principal {
    background-color:#00eeff;
    color: #005677;
}
body {
    background-color: #FFFFFF;
}
main {
    margin-left: 225px;
    margin-right: 225px;
}
.secciones {
    background-color:#00eeff;
    color: #005677;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
}
span {
    font-weight: bold;
}
.span-italica {
    font-style: italic;
    font-weight: 600;
}
p {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
footer {
    background-color: #005677;
    height: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 0px;
}

.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}
h1 {
    color: #FFFFFF;
    margin-left: 0.8cm;
}
ul {
    font-family: 'Source Sans Pro', sans-serif;
}
nav {
    text-align: center;
}
footer {
    background-image: url(../img/wallpaper.jpeg);
    text-align: center;
    font-size: 25px;
}
i {
    font-size: 25px;
}
.span-grande {
    font-size: 25px;
}
button {
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}