header {
    background-color:#E5E5E5;
    background-image: url('/root/img/3b8ad2c7b1be2caf24321c852103598a.jpeg');
    text-align: center;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
}
#titulo-principal {
    background-color:#C4C4C4;
    color: #005677;
}
body {
    background-color: #E5E5E5;
}
main {
    margin-left: 225px;
    margin-right: 225px;
}
.secciones {
    background-color:#C4C4C4;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
}
span {
    font-weight: bold;
}
.span-italica {
    font-style: italic;
}
p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    background-color: #005677;
    height: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 25px;
}
img {
    border-radius: 50%;
    
}
.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}
h1 {
    color: #FFFFFF;
}